.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form_box {
  display: flex;
  flex-direction: column;
}

.form_input {
  margin-bottom: 8px;
}
