/* CSS Module 是 组件级别CSS */
/* CSS Module 局部CSS，来自动创建独一无二的类名 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


/* Mobile */
@media (max-width: 700px) {

}
